* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(145deg, #fafafa, #e7e7e7);
    color: #333;
    position: relative;
}

/* Main container for the content */
.quote-container {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #e0e0e0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 3px #525252;
    max-width: 950px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Heading styling */
.quote-container h1 {
    font-weight: bold;
    font-size: 2.2rem;
    color: #2c3e50;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

/* Styling for the quote text */
#quote-display {
    font-size: 1.4rem;
    font-style: italic;
    color: #1d1d1d;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    min-height: 100px; 
}

/* Quote buttons styling */
.generate-button-container {
    width: 100%;
    transition: background-color 0.5s ease;
}

/* Generate quote button styling */
#generate-quote-button {
    background-color: #338fcc;
    color: white;
    font-size: 1.9rem;
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.5s ease;
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
}

/* Hover effects for generate quote button */
#generate-quote-button:hover {
    background-color: #2981bb;
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

/* Active effects for generate quote button */
#generate-quote-button:active {
    background-color: #2981bb;
    transform: scale(0.97);
    transition: transform 0.2s ease;
}

/* Author styling */
.author {
    font-weight: 800;
    line-height: 1.5;
    margin-top: 0.5rem;
    color: #2c3e50;
}

/* Styling of the change theme button  */
#theme-switch {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.1);
    color: #424242;
    font-size: 2.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#theme-switch:hover {
    background-color: rgba(51, 51, 51, 0.2);
    box-shadow: 0 4px 12px rgba(51, 51, 51, 0.3);
    transform: scale(1.1);
    color: #131313;
}

#theme-switch:active {
    transform: scale(0.9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Additional buttons styling  */
.additional-buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 0;
    gap: 0.75rem;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.additional-buttons {
    color: #303233;
    background-color: transparent;
    font-size: 1.55rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 4px 4px;
}

.additional-buttons:hover {
    color: #2980b9;
    transform: scale(1.1);
    transition: transform 0.25s ease;
}

.additional-buttons:active {
    color: #2980b9;
    transform: scale(0.9);
    transition: transform 0.25s ease;
}

/* Dark theme styles */

body.dark-theme {
    background: linear-gradient(145deg, #292929, #141414);
    color: #f5f5f5;
}

body.dark-theme .quote-container {
    background-color: #141414;
    box-shadow: 0 0 3px #888888;
}

body.dark-theme h1 {
    color: #eeeeee;
}

body.dark-theme #quote-display {
    color: #dbdbdb;
}

body.dark-theme .author {
    color: #e9eaeb;
}

body.dark-theme #generate-quote-button {
    background-color: #346ea5;
    color: #eeeeee;
}

body.dark-theme #generate-quote-button:hover {
    background-color: #346ea5;
}

body.dark-theme #generate-quote-button:active {
    background-color: #346ea5;
}

body.dark-theme #theme-switch {
    background-color: rgba(245, 245, 245, 0.1);
    color: #cecece;
}

body.dark-theme #theme-switch:hover {
    background-color: rgba(245, 245, 245, 0.2);
    color: #c5ba5a;
}

body.dark-theme #theme-switch:active {
    transform: scale(0.9);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}

body.dark-theme .additional-buttons {
    background-color: transparent;
    color: #cecece;
}

body.dark-theme .additional-buttons:hover {
    color: #346ea5;
}

body.dark-theme .additional-buttons:active {
    color: #346ea5;
}

/* Media Query for Phone Size*/
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 0 1rem;
    }

    .quote-container {
        padding: 1.5rem;
        width: 90%;
        max-width: 100%;
    }

    .quote-container h1 {
        font-size: 1.8rem;
        margin-top: 0.8rem;
        margin-bottom: 1.5rem;
    }

    #quote-display {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .author {
        font-size: 1.2rem;
    }

    #generate-quote-button {
        font-size: 1.5rem;
        padding: 10px 18px;
        margin-bottom: 3rem;
    }

    #generate-quote-button:hover {
        transform: scale(1.05);
    }

    .additional-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .additional-buttons {
        color: #303233;
        background-color: transparent;
        font-size: 1.3rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease;
        padding: 4px 4px;
    }
    
    .additional-buttons:hover {
        color: #2980b9;
        transform: scale(1.1);
        transition: transform 0.25s ease;
    }
    
    .additional-buttons:active {
        color: #2980b9;
        transform: scale(0.9);
        transition: transform 0.25s ease;
    }

    #theme-switch {
        top: auto;
        bottom: 1rem;
        right: 1rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}