* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202020;
}

/* Main container for the content */
.quote-container {
    background: #fafafa;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 3px #f0f6f7;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Heading styling */
.quote-container h1 {
    font-weight: bold;
    font-size: 2.2rem;
    color: #0c0c0c;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

/* Styling for the quote text */
#quote-display {
    font-size: 1.4rem;
    font-style: italic;
    color: #141414;
    margin-bottom: 2rem;
    line-height: 1.5;
    min-height: 70px;
}

/* Author styling */
.author {
    font-weight: 800;
    line-height: 1.5;
    margin-top: 0.5rem;
}

/* Button styling */
#generate-quote-button {
    background-color: #24aa72;
    color: white;
    font-size: 1.5rem;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

/* Button hover effect */
#generate-quote-button:hover {
    background-color: #19744e;
}

/* Button active effect */
#generate-quote-button:active {
    background-color: #19744e;
    transform: scale(0.98);
}




/* Chenge theme button styling, not functional, for future update

#change-theme {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #838383;
    color: white;
    font-size: 0.5rem;
    border: none;
    padding: 2px;
    cursor: pointer;
    min-height: 1.5rem;
    min-width: 1.5rem;
    clip-path: circle(50%);
}

  */

